.sidebar {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  width: 230px;
  min-width: 230px;
  height: 100vh;
  background: var(--additional-color);
  box-shadow: 1px 0 var(--shadow-color), 3px 0var(--shadow-color);
  z-index: 2;

  .container {
    width: 230px;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    .menu-content {
      padding-top: 3rem;

      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        background: var(--additional-color);
        width: 100%;
        min-height: 48px;

        img {
          width: 2.5rem;
          height: 2.5rem;
        }
    
        p {
          color: var(--font-color-white);
          font-family: "Press Start 2P", sans-serif !important;
          font-style: normal;
          font-weight: 400;
          text-transform: uppercase;
          padding-left: 1rem;
        }
      }

      .navbar-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-flow: column;
        width: 100%;
        height: 100%;
  
        .navbar-nav {
    
          .nav-item {
            display: flex;
            align-items: center;
            position: relative;
      
            .nav-link {
              color: var(--font-color-white);
              font-weight: 700;
              padding: 0.5rem;
            }
      
            &::after {
              content: "";
              position: absolute;
              background-color: var(--font-color-white);
              left: 0;
              bottom: -1px;
              width: 100%;
              height: 2px;
              visibility: hidden;
              transition: 0.4s ease;
            }
      
            &:hover::after{
              visibility: visible;
              bottom: 4px;
            }
      
            &.active::after {
              position: absolute;
              background-color: var(--font-color-white);
              left: 0;
              bottom: 4px;
              width: 100%;
              height: 2px;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

// Стили для корректного отображения работы скрытых кнопок

#nav-logout button {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -10;
}

#nav-logout button:focus + a {	
  outline: 1px solid #0078d7;
  outline: -webkit-focus-ring-color auto 5px;
}