<header class="sidebar">
  <div class="container">
    <div class="menu-content">
      <div class="navbar-wrapper">
        <ul class="navbar-nav" *ngIf="roles.length != 0">
          <li class="nav-item" *ngIf="roles.includes('Admin')">
            <a class="nav-link" routerLink="/adminPanel">AdminPanel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cabinet" >Кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cabinet" >Кабинет</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cabinet" >Кабинет</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>