<main class="content-wrapper">
  <div class="content-container">
    <div class="content-block">
      <div>
        <div class="tab" #tabLinks>
          <button class="btn tab-link" data-tab="course" (click)="openTab('course')">Создать курс</button>
          <button class="btn tab-link" data-tab="lecture" (click)="openTab('lecture')">Создать лекцию</button>
          <button class="btn tab-link" data-tab="test" (click)="openTab('test')">Создать тест</button>
        </div>
      </div>
    </div>
    <div class="content-block" #tabContents>
      <div id="course" class="tab-content" style="display: none;">
        <app-course-block
          [mods]="['create']">
        </app-course-block>
      </div>
      <div id="lecture" class="tab-content" style="display: none;">
        <app-lecture-block
          [mods]="['create']"
          [courses]="courses">
        </app-lecture-block>
      </div>
      <div id="test" class="tab-content" style="display: none;">
        <app-lecture-block
        [mods]="['create']"
        [courses]="courses">
      </app-lecture-block>
      </div>
    </div>
  
    <div class="content-block">
      <div class="custom-table">
        <div class="table-row header">
          <div class="table-cell">Name</div>
          <div class="table-cell">Price</div> 
          <div class="table-cell">Image</div>
          <div class="table-cell">Actions</div>
        </div>
        <ng-container *ngFor="let course of courses" >
          <app-course-block
            [mods]="contentMods"
            [course]="course">
          </app-course-block>
        </ng-container>
      </div>
    </div>

    <div class="content-block">
      <div class="custom-table">
        <div class="table-row header">
          <div class="table-cell">Course Theme</div>
          <div class="table-cell">Theme</div>
          <div class="table-cell">Title</div>
          <div class="table-cell">Actions</div>
        </div>
        <ng-container *ngFor="let lecture of lectures" >
          <app-lecture-block
            [mods]="contentMods"
            [courses]="courses"
            [lecture]="lecture">
          </app-lecture-block>
        </ng-container>
      </div>
    </div>
  </div>
</main>


            <!-- <div class="dropdown d-grid justify-content-end">
                <a class="dropdown-toggle me" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="{{createFilePath(books[i].bookFilePath)}}" download>Скачать</a>
                </li>
                <li *ngIf="books[i].userId === user.userId">
                    <a class="dropdown-item" (click)="openEditWindow(books[i].id)">Редактировать</a>
                </li>
                <li *ngIf="books[i].userId === user.userId">
                    <a class="dropdown-item" (click)="deleteBook(books[i].id)">Удалить</a>
                </li>
                </ul>
            </div> -->
            
    <!-- <nav class="my-3" aria-label="Books page navigation">
      <ul class="pagination justify-content-center">
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(1)">В начало</a></li>
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum - 1)">Назад</a></li>
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum - 1)">{{booksPageNum - 1}}</a></li>
          <li class="page-item active"><a class="page-link" (click)="getBooks(booksPageNum)">{{booksPageNum}}</a></li>
          <li *ngIf="books[1]" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum + 1)">{{booksPageNum + 1}}</a></li>
          <li *ngIf="books[1]" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum + 1)">Вперёд</a></li>
      </ul>
    </nav> -->