.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

  .tab-link {
    margin: 5px;
    font-size: 1rem;
  }
}

.custom-table {
  display: flex;
  flex-direction: column;
  padding: 0 5px 5px 5px;
  margin: 10px 0 0 0;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--font-color-grey);

  .table-row {
    display: flex;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--primary-color);

    .table-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 1;
      padding: 5px;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      color: var(--primary-color);
      position: relative;
      
      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: var(--font-color-grey);
      }
    }
  }
  
  .header {
    text-align: center;
    font-weight: bold;
  }

  @media (max-width: 699.98px) {
    .header {
      display: none;
    }
  }
}