<main class="content-wrapper">
  <div class="content-container">
    <div class="content-block">
      <div>
        <div class="tab" #tabLinks>
          <button class="btn tab-link" data-tab="course" (click)="openTab('course')">Создать курс</button>
          <button class="btn tab-link" data-tab="lecture" (click)="openTab('lecture')">Создать лекцию</button>
          <button class="btn tab-link" data-tab="test" (click)="openTab('test')">Создать тест</button>
        </div>
      </div>
    </div>
    <div class="content-block" #tabContents>
      <div id="course" class="tab-content" style="display: none;">
        <app-course-block
          [mods]="['create']">
        </app-course-block>
      </div>
      <div id="lecture" class="tab-content" style="display: none;">
        <app-lecture-block
          [mods]="['create']"
          [courses]="courses">
        </app-lecture-block>
      </div>
      <div id="test" class="tab-content" style="display: none;">
        <app-test-block
        [mods]="['create']"
        [courses]="courses">
      </app-test-block>
      </div>
    </div>
  
    <div class="content-block">
      <h2>Курсы</h2>
      <div class="custom-table">
        <div class="table-row header">
          <div class="table-cell">Название</div>
          <div class="table-cell">Описание</div> 
          <div class="table-cell">Цена</div>
          <div class="table-cell">Действия</div>
        </div>
        <ng-container *ngFor="let course of courses" >
          <app-course-block
            [mods]="contentMods"
            [roles]="roles"
            [course]="course">
          </app-course-block>
        </ng-container>
      </div>
    </div>

    <div class="content-block">
      <h2>Лекции</h2>
      <div class="custom-table">
        <div class="table-row header">
          <div class="table-cell">Курс</div>
          <div class="table-cell">Тема</div>
          <div class="table-cell">Заголовок</div>
          <div class="table-cell">Действия</div>
        </div>
        <ng-container *ngIf="courses && lectures">
          <ng-container *ngFor="let lecture of lectures" >
            <app-lecture-block
              [mods]="contentMods"
              [roles]="roles"
              [courses]="allCourses"
              [lecture]="lecture">
            </app-lecture-block>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="content-block">
      <h2>Тесты</h2>
      <div class="custom-table">
        <div class="table-row header">
          <div class="table-cell">Курс</div>
          <div class="table-cell">Тема</div>
          <div class="table-cell">Заголовок</div>
          <div *ngIf="roles.includes('Admin') || roles.includes('Editor')" class="table-cell">Действия</div>
        </div>
        <ng-container *ngIf="courses && tests">
          <ng-container *ngFor="let test of tests" >
            <app-test-block
              [mods]="contentMods"
              [roles]="roles"
              [courses]="allCourses"
              [test]="test">
            </app-test-block>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</main>


            <!-- <div class="dropdown d-grid justify-content-end">
                <a class="dropdown-toggle me" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li>
                    <a class="dropdown-item" href="{{createFilePath(books[i].bookFilePath)}}" download>Скачать</a>
                </li>
                <li *ngIf="books[i].userId === user.userId">
                    <a class="dropdown-item" (click)="openEditWindow(books[i].id)">Редактировать</a>
                </li>
                <li *ngIf="books[i].userId === user.userId">
                    <a class="dropdown-item" (click)="deleteBook(books[i].id)">Удалить</a>
                </li>
                </ul>
            </div> -->
            
    <!-- <nav class="my-3" aria-label="Books page navigation">
      <ul class="pagination justify-content-center">
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(1)">В начало</a></li>
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum - 1)">Назад</a></li>
          <li *ngIf="booksPageNum != 1" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum - 1)">{{booksPageNum - 1}}</a></li>
          <li class="page-item active"><a class="page-link" (click)="getBooks(booksPageNum)">{{booksPageNum}}</a></li>
          <li *ngIf="books[1]" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum + 1)">{{booksPageNum + 1}}</a></li>
          <li *ngIf="books[1]" class="page-item"><a class="page-link" (click)="getBooks(booksPageNum + 1)">Вперёд</a></li>
      </ul>
    </nav> -->