<ng-container [ngSwitch]="mode">

  <ng-container *ngSwitchCase="'result'">
    <main class="content-wrapper">
      <div class="content-container">
        Страница результатов
      </div>
    </main>
  </ng-container>

  <ng-container *ngSwitchCase="'view'">
    <ng-container *ngIf="test">
      <main class="content-wrapper">
        <div class="content-container">
          <div class="progress-bar">
            <ng-container *ngIf="lectures && lectures.length > 0">
              <ng-container *ngFor="let _lecture of lectures; let i = index">
                <a class="circle" [routerLink]="['/lecture', _lecture.id]">{{i+1}}</a>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="tests && tests.length > 0">
              <ng-container *ngFor="let _test of tests; let i = index">
                <a *ngIf="test.id === _test.id" class="circle primary" [routerLink]="['/test', _test.id]">{{lectures.length + i + 1}}</a>
                <a *ngIf="test.id !== _test.id" class="circle" [routerLink]="['/test', _test.id]">{{lectures.length + i + 1}}</a>
              </ng-container>
            </ng-container>
          </div>
          <div class="content-block">
            <div class="theme" *ngIf="course">
              <a class="link" [routerLink]="['/course', course.id]">{{course ? course.name + ' / ' : ''}}</a>
              <a class="link" [routerLink]="['/course', course.id]">{{test.theme}}</a>
            </div>
            <div class="theme" *ngIf="!course">
              <a class="link">{{test.theme}}</a>
            </div>
            <h1 class="title">{{test.title}}</h1>

            <h2>Вопрос №{{currentQuestion + 1}}</h2>
            <div class="content">
              <h2 [innerHTML]="questions[currentQuestion]"></h2>
            </div>
            <div class="content">
              <ng-container *ngIf="answerOptions[currentQuestion] !== '.'">
                <div class="custom-radio-group">
                  <ng-container *ngFor="let answer of answerOptions[currentQuestion].split('; '); let i = index">
                    <label>
                      <input class="radio-btn" type="radio" [value]="answer"
                      name="answer" [(ngModel)]="correctAnswers[currentQuestion]">
                      <span [innerHTML]="answer"></span>
                    </label>
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="answerOptions[currentQuestion] === '.'">
                <div class="custom-input">
                  <input type="text" placeholder="Ответ" [(ngModel)]="correctAnswers[currentQuestion]">
                </div>
              </ng-container>
            </div>
          </div>

          <div class="content-block">
            <div class="actions">
              <button class="btn primary" (click)="previousQuestion()">К предыдущему вопросу</button>
              <button *ngIf="currentQuestion !== questions.length - 1" class="btn primary" (click)="nextQuestion()">К следующему вопросу</button>
              <button *ngIf="currentQuestion === questions.length - 1" class="btn primary" (click)="testResults()">Завершить тест</button>
            </div>
          </div>
          
          <div class="content-block">
            <div class="actions">
              <button *ngIf="course && tests && getPreviousTestId(test.id) !== ''" 
                class="btn primary" [routerLink]="['/test/', getPreviousTestId(test.id)]">К предыдущему тесту 
              </button>
              <button *ngIf="course && lectures" 
                class="btn primary" [routerLink]="['/lecture/', lectures[lectures.length - 1].id]">К предыдущей лекции
              </button>

              <button *ngIf="!course" class="btn primary" [routerLink]="['/']">На главную</button>
              <button *ngIf="course" class="btn primary" [routerLink]="['/course/', course.id]">К списку</button>

              <button *ngIf="tests && getNextTestId(test.id) !== ''" 
                class="btn primary" [routerLink]="['/test/', getNextTestId(test.id)]">К следующему тесту
              </button>
              <button *ngIf="tests && getNextTestId(test.id) === ''" 
                class="btn primary" (click)="getNextTestId(test.id)">Завершить тест
              </button>
              <!-- (click)="checkAccessRoute('/test/', tests[0].id)" -->
            </div>
            <app-modal-dialog 
              *ngIf="isModalDialogVisible" 
              [header]="'Внимание!'" 
              [description]="'Уверены, что хотите удалить?'"
              (isConfirmed)="closeModal($event)">
            </app-modal-dialog>
          </div>
        </div>
      </main>
    </ng-container>
  </ng-container>

  <div *ngSwitchCase="'list'"  class="list-wrapper">
    <div *ngIf="test" class="table-row">
      <div *ngIf="course" class="table-cell">{{course.name}}</div>
      <div *ngIf="!course" class="table-cell">-</div>
      <div class="table-cell">{{test.theme}}</div>
      <div class="table-cell">{{test.title}}</div>
      <div *ngIf="roles.includes('Admin') || roles.includes('Editor')" class="actions-cell">
        <button class="btn" (click)="changeMode('view')">Развернуть</button>
        <button class="btn" (click)="changeMode('edit')">Редактировать</button>
        <button class="btn" (click)="showModal()">Удалить</button>
      </div>
    </div>
    <app-modal-dialog 
      *ngIf="isModalDialogVisible" 
      [header]="'Внимание!'" 
      [description]="'Уверены, что хотите удалить?'"
      (isConfirmed)="closeModal($event)">
    </app-modal-dialog>
  </div>

  <div *ngSwitchCase="'edit'" class="edit-create-wrapper">
    <h1>Изменение теста</h1>
    <form [formGroup]="testForm" (ngSubmit)="editTest()" class="custom-form">

      <div class="form-group">
        <div class="custom-input">
          <select formControlName="courseId" (click)="getAllCourses()" placeholder="Курс">
            <option value="{{guidEmpty}}"></option>
            <ng-container *ngFor="let course of courses">
              <option value="{{course.id}}">{{course.name}}</option>
            </ng-container>
          </select>
        </div>
        <app-validator-message [field]="testForm.get('courseId')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="theme" placeholder="Тема">
        </div>
        <app-validator-message [field]="testForm.get('theme')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="title" placeholder="Заголовок">
        </div>
        <app-validator-message [field]="testForm.get('title')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="questions" placeholder="Вопросы"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('questions')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="answerOptions" placeholder="Варианты ответов"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('answerOptions')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="correctAnswers" placeholder="Правильные ответы"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('correctAnswers')"></app-validator-message>
      </div>

      <div class="upload-container">
        <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
          <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить изображение" 
            #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
          <label (click)="dragAreaInput.click()">Загрузить изображение</label>
        </div>
        <div class="form-group" *ngIf="imagePath !== ''">
          <div class="custom-input">
            <input value="{{imagePath}}" type="text" placeholder="Ссылка для вставки" readonly>
          </div>
        </div>
        <div *ngIf="imagePath !== ''">
          <img [src]="createFilePath(imagePath)">
        </div>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <input type="number" formControlName="position" placeholder="Позиция в списке">
        </div>
        <app-validator-message [field]="testForm.get('position')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!testForm.valid">Сохранить</button>
      <button class="btn primary" (click)="changeMode('')">Отменить</button>
    </form>

  </div>

  <div *ngSwitchCase="'create'" class="edit-create-wrapper">
    <h1>Добавление теста</h1>
    <form [formGroup]="testForm" (ngSubmit)="createTest()" class="custom-form">

      <div class="form-group">
        <div class="custom-input">
          <select formControlName="courseId" (click)="getAllCourses()" placeholder="Курс">
            <option value="{{guidEmpty}}"></option>
            <ng-container *ngFor="let course of courses">
              <option value="{{course.id}}">{{course.name}}</option>
            </ng-container>
          </select>
        </div>
        <app-validator-message [field]="testForm.get('courseId')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="theme" placeholder="Тема">
        </div>
        <app-validator-message [field]="testForm.get('theme')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="title" placeholder="Заголовок">
        </div>
        <app-validator-message [field]="testForm.get('title')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="questions" placeholder="Вопросы"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('questions')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="answerOptions" placeholder="Варианты ответов"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('answerOptions')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="correctAnswers" placeholder="Правильные ответы"></textarea>
        </div>
        <app-validator-message [field]="testForm.get('correctAnswers')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <input type="number" formControlName="position" placeholder="Позиция в списке">
        </div>
        <app-validator-message [field]="testForm.get('position')"></app-validator-message>
      </div>

      <div class="upload-container">
        <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
          <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить изображение" 
            #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
          <label (click)="dragAreaInput.click()">Загрузить изображение</label>
        </div>
        <div class="form-group">
          <div class="custom-input">
            <input value="{{imagePath}}" type="text" placeholder="" readonly>
          </div>
        </div>
        <div *ngIf="imagePath !== ''">
          <img [src]="createFilePath(imagePath)">
        </div>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!testForm.valid">Создать</button>
    </form>
  </div>
</ng-container>