<div class="content-wrapper">
  <div class="content-container">
    <div class="card-container">
      <div *ngFor="let course of courses">
        <app-course-card
          [orientation] = "'vertical'"
          [course] = "course">
        </app-course-card>
      </div>
      <div *ngFor="let course of courses">
        <app-course-card
          [orientation] = "'vertical'"
          [course] = "course">
        </app-course-card>
      </div>
      <div *ngFor="let course of courses">
        <app-course-card
          [orientation] = "'vertical'"
          [course] = "course">
        </app-course-card>
      </div>
      <div *ngFor="let course of courses">
        <app-course-card
          [orientation] = "'vertical'"
          [course] = "course">
        </app-course-card>
      </div>
    </div>
</div>