<ng-container [ngSwitch]="mode">
  <div *ngSwitchCase="'list'"  class="list-wrapper">
    <div *ngIf="account" class="table-row">
      <div class="table-cell">{{account.userName}}</div>
      <div class="table-cell">{{account.email}}</div>
      <div class="table-cell">{{account.roles}}</div>
      <div class="table-cell">
        {{ account.birthday | slice:0:10 }}<br>
        {{ account.registrationDate | slice:0:10 }}
      </div>
      <div *ngIf="roles.includes('Admin') || roles.includes('Editor')" class="actions-cell">
        <button class="btn" (click)="changeMode('edit')">Редактировать</button>
        <button class="btn" (click)="blockAccount(account.userId)" [disabled]="isAccountBanned(account)">Заблокировать</button>
      </div>
    </div>
    <app-modal-dialog 
      *ngIf="isModalDialogVisible" 
      [header]="'Внимание!'" 
      [description]="'Уверены, что хотите удалить?'"
      (isConfirmed)="closeModal($event)">
    </app-modal-dialog>
  </div>

  <div *ngSwitchCase="'edit'" class="edit-create-wrapper">
    <h1>Изменение аккаунта</h1>
    <form [formGroup]="accountForm" (ngSubmit)="editAccount()" class="custom-form">

      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="userName" placeholder="Логин">
        </div>
        <app-validator-message [field]="accountForm.get('userName')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="email" placeholder="Почта">
        </div>
        <app-validator-message [field]="accountForm.get('email')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="roles" placeholder="Роли"></textarea>
        </div>
        <app-validator-message [field]="accountForm.get('roles')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!accountForm.valid">Сохранить</button>
      <button class="btn primary" (click)="changeMode('list')">Отменить</button>
    </form>

  </div>
</ng-container>