<app-navbar></app-navbar>
<div class="content-wrapper">
  <div class="content-container">
  <div *ngFor="let course of courses"></div>
    <div class="card card-vertical card-product">
      <a href="./product1.html">
        <img src="./images/jpg/1.jpg" alt="Product">
        <div class="desc">
          <div class="title">
            Табурет деревянный 
          </div>
          <div class="rating">
            &#9733; &#9733; &#9733; &#9733; &#9733;
          </div>
          <div class="price">
            699 ₽
          </div>
        </div>
      </a>
    </div>
  </div>
</div>