<ng-container [ngSwitch]="mode">

  <div *ngSwitchCase="'list'">
    <div *ngIf="course" class="table-row">
      <div class="table-cell">{{course.name}}</div>
      <div class="table-cell">{{course.price}}</div>
      <div class="table-cell">{{course.imagePath}}</div>
      
      <div class="actions-cell">
        <button class="btn" (click)="changeMode('view')">Развернуть</button>
        <button class="btn" (click)="changeMode('edit')">Редактировать</button>
        <button class="btn" (click)="showModal()">Удалить</button>
      </div>
    </div>
    <app-modal-dialog 
      *ngIf="isModalDialogVisible" 
      [header]="'Внимание!'" 
      [description]="'Уверены, что хотите удалить?'"
      (isConfirmed)="closeModal($event)">
    </app-modal-dialog>
  </div>

  <div *ngSwitchCase="'view'">
    <div *ngIf="course">
      <button class="btn primary" (click)="changeMode('list')">Свернуть</button>
      <div class="row">
        <div class="col-12">
          <h2>Name {{course.name}}</h2>
          <p>Descr {{course.description}}</p>
          <p>Price {{course.price}}</p>
          <p>ImagePath {{course.imagePath}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'create'">
    <h1>Добавление курса</h1>
    <form [formGroup]="courseForm" (ngSubmit)="createCourse()" class="custom-form">
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="name" placeholder="Название">
        </div>
        <app-validator-message [field]="courseForm.get('name')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="description" placeholder="Описание"></textarea>
        </div>
        <app-validator-message [field]="courseForm.get('description')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="price" placeholder="Цена">
        </div>
        <app-validator-message [field]="courseForm.get('price')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="upload-container">
          <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
            <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить обложку" 
              #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
            <label (click)="dragAreaInput.click()">Загрузить обложку</label>
          </div>
          <div *ngIf="courseForm.value.imagePath">
            <img [src]="createFilePath(courseForm.value.imagePath)">
          </div>
        </div>
        <app-validator-message [field]="courseForm.get('imagePath')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!courseForm.valid">Создать</button>
    </form>
  </div>

  <div *ngSwitchCase="'edit'">
    <h1>Изменение курса</h1>
    <form [formGroup]="courseForm" (ngSubmit)="editCourse()" class="custom-form">

      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="name" placeholder="Название">
        </div>
        <app-validator-message [field]="courseForm.get('name')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="description" placeholder="Описание"></textarea>
        </div>
        <app-validator-message [field]="courseForm.get('description')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="price" placeholder="Цена">
        </div>
        <app-validator-message [field]="courseForm.get('price')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="upload-container">
          <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
            <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить обложку" 
              #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
            <label (click)="dragAreaInput.click()">Загрузить обложку</label>
          </div>
          <div *ngIf="courseForm.value.imagePath">
            <img [src]="createFilePath(courseForm.value.imagePath)">
          </div>
        </div>
        <app-validator-message [field]="courseForm.get('imagePath')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!courseForm.valid">Сохранить</button>
      <button class="btn primary" (click)="changeMode('list')">Отменить</button>
    </form>

  </div>
</ng-container>