<ng-container [ngSwitch]="mode">

  <ng-container *ngSwitchCase="'view'">
    <ng-container *ngIf="course">
      <main class="content-wrapper">
        <div class="content-container">
          <div class="progress-bar-wrapper">
          </div>
          <div class="content-block">
            <h1 class="title">{{ course.name }}</h1>

            <!-- Отображение групп лекций -->
            <ng-container *ngIf="course && lectures">
              <ng-container *ngFor="let group of groupedLecturesArray">
                <h2>{{ group.theme }}</h2> <!-- Заголовок с темой лекций -->
                <ng-container *ngFor="let lecture of group.lectures">
                  <a class="content-row" [routerLink]="['/lecture', lecture.id]">
                    <p>{{ lecture.title }}</p>
                  </a>
                </ng-container>
              </ng-container>
            </ng-container>

            <!-- Отображение групп тестов -->
            <ng-container *ngIf="course && lectures">
              <ng-container *ngFor="let group of groupedTestsArray">
                <h2>{{ group.theme }}</h2> <!-- Заголовок с темой тестов -->
                <ng-container *ngFor="let test of group.tests">
                  <a class="content-row" [routerLink]="['/test', test.id]">
                    <p>{{ test.title }}</p>
                  </a>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>

          <div class="content-block">
            <div class="actions">
              <button class="btn primary" [routerLink]="['/']">Назад</button>
              <button *ngIf="lectures && lectures.length > 0" class="btn primary" [routerLink]="['/lecture/', lectures[0].id]">Начать</button>
              <!-- (click)="checkAccessRoute('/lecture/', lectures[0].id)" -->
            </div>
            <app-modal-dialog 
              *ngIf="isModalDialogVisible" 
              [header]="'Внимание!'" 
              [description]="'Уверены, что хотите удалить?'"
              (isConfirmed)="closeModal($event)">
            </app-modal-dialog>
          </div>
        </div>
      </main>
    </ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'card'">
    <ng-container *ngIf="course">
      <a class="card" [routerLink]="['/course', course.id]">
        <div class="image">
          <img [src]="createFilePath(course.imagePath)" alt="Product Image">
        </div>
        <div class="info">
          <div class="title">{{course.name}}</div>
          <div class="description">{{course.description}}</div>
          <div *ngIf="course.price === 0" class="price">Бесплатно</div>
          <div *ngIf="course.price !== 0" class="price">{{course.price}} рублей</div>
        </div>
      </a>
    </ng-container>
  </ng-container>

  <div *ngSwitchCase="'list'"  class="list-wrapper">
    <div *ngIf="course" class="table-row">
      <div class="table-cell">{{course.name}}</div>
      <div class="table-cell">{{course.description}}</div>
      <div class="table-cell">{{course.price}}</div>
      <div *ngIf="roles.includes('Admin') || roles.includes('Editor')" class="actions-cell">
        <button class="btn" (click)="changeMode('view')">Развернуть</button>
        <button class="btn" (click)="changeMode('edit')">Редактировать</button>
        <button class="btn" (click)="showModal()">Удалить</button>
      </div>
    </div>
    <app-modal-dialog 
      *ngIf="isModalDialogVisible" 
      [header]="'Внимание!'" 
      [description]="'Уверены, что хотите удалить?'"
      (isConfirmed)="closeModal($event)">
    </app-modal-dialog>
  </div>

  <div *ngSwitchCase="'edit'" class="edit-create-wrapper">
    <h1>Изменение курса</h1>
    <form [formGroup]="courseForm" (ngSubmit)="editCourse()" class="custom-form">

      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="name" placeholder="Название">
        </div>
        <app-validator-message [field]="courseForm.get('name')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="description" placeholder="Описание"></textarea>
        </div>
        <app-validator-message [field]="courseForm.get('description')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="price" placeholder="Цена">
        </div>
        <app-validator-message [field]="courseForm.get('price')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="upload-container">
          <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
            <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить обложку" 
              #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
            <label (click)="dragAreaInput.click()">Загрузить обложку</label>
          </div>
          <div *ngIf="courseForm.value.imagePath">
            <a class="card">
              <div class="image">
                <img [src]="createFilePath(courseForm.value.imagePath)">
              </div>
              <div class="info">
                <div class="title">Заголовок</div>
                <div class="description">Описание описание описание описание описание</div>
                <div class="price">Цена</div>
              </div>
            </a>
          </div>
        </div>
        <app-validator-message [field]="courseForm.get('imagePath')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!courseForm.valid">Сохранить</button>
      <button class="btn primary" (click)="changeMode('list')">Отменить</button>
    </form>
  </div>

  <div *ngSwitchCase="'create'" class="edit-create-wrapper">
    <h1>Добавление курса</h1>
    <form [formGroup]="courseForm" (ngSubmit)="createCourse()" class="custom-form">
    
      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="name" placeholder="Название">
        </div>
        <app-validator-message [field]="courseForm.get('name')"></app-validator-message>
      </div>
    
      <div class="form-group">
        <div class="custom-input">
          <textarea type="text" formControlName="description" placeholder="Описание"></textarea>
        </div>
        <app-validator-message [field]="courseForm.get('description')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="custom-input">
          <input type="text" formControlName="price" placeholder="Цена">
        </div>
        <app-validator-message [field]="courseForm.get('price')"></app-validator-message>
      </div>

      <div class="form-group">
        <div class="upload-container">
          <div class="upload-input" draggable="true" ngClass="{{ dragAreaClass }}">
            <input type="file" accept=".png, .jpg, .bmp" placeholder="Загрузить обложку" 
              #dragAreaInput multiple="false" (change)="uploadFile(dragAreaInput.files)">
            <label (click)="dragAreaInput.click()">Загрузить обложку</label>
          </div>
          <div *ngIf="courseForm.value.imagePath">
            <a class="card">
              <div class="image">
                <img [src]="createFilePath(courseForm.value.imagePath)">
              </div>
              <div class="info">
                <div class="title">Заголовок</div>
                <div class="description">Описание описание описание описание описание</div>
                <div class="price">Цена</div>
              </div>
            </a>
          </div>
        </div>
        <app-validator-message [field]="courseForm.get('imagePath')"></app-validator-message>
      </div>
    
      <button type="submit" class="btn primary" [disabled]="!courseForm.valid">Создать</button>
    </form>
  </div>
</ng-container>