<main *ngIf="account" class="content-wrapper">
  <div class="content-container">
    <div class="content-block">
      <div class="profile-section-wrapper">
        <div class="profile-name">Добро пожаловать<span *ngIf="account">, {{account.userName}}</span>!</div>
        <div class="custom-section-wrapper">
          <div class="profile-info-wrapper">
            <div class="profile-image">
              <img *ngIf="!account" [src]="createFilePath('account.imagePath')" alt="Profile image">
              <div *ngIf="account">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="128" height="128" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M256 0c-74.439 0-135 60.561-135 135s60.561 135 135 135 135-60.561 135-135S330.439 0 256 0zm0 240c-57.897 0-105-47.103-105-105S198.103 30 256 30s105 47.103 105 105-47.103 105-105 105zM423.966 358.195C387.006 320.667 338.009 300 286 300h-60c-52.008 0-101.006 20.667-137.966 58.195C51.255 395.539 31 444.833 31 497c0 8.284 6.716 15 15 15h420c8.284 0 15-6.716 15-15 0-52.167-20.255-101.461-57.034-138.805zM61.66 482c7.515-85.086 78.351-152 164.34-152h60c85.989 0 156.825 66.914 164.34 152H61.66z" fill="#000000" opacity="1" data-original="#000000"></path></g></svg>
              </div>
            </div>
            <ul class="profile-info">
              <li>
                <span>Действующая группа</span>
                <span>{{account.roles.split(',')[account.roles.split(',').length - 1]}}</span>
              </li>
              <li>
                <span>Регистрация аккаунта</span>
                <span>{{account.registrationDate.substring(0, 10)}}</span>
              </li>
              <li>
                <span>Почта аккаунта</span>
                <span>{{account.email}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="content-block">
        <div class="tab actions" #tabLinks>
          <button class="btn tab-link primary" data-tab="courses" (click)="openTab('courses')">Мои курсы</button>
          <button class="btn tab-link" data-tab="statistics" (click)="openTab('statistics')" (click)="getTestResultsByUser(pageNum)">Статистика</button>
          <button class="btn tab-link" data-tab="security" (click)="openTab('security')">Безопасность</button>
          <button class="btn tab-link" data-tab="settings" (click)="openTab('settings')">Настройки</button>
        </div>
    </div>

    <div class="content-block" #tabContents>

      <div id="courses" class="tab-content" style="display: block;">
          <ng-container *ngIf="courses; else noCourses">
              <div class="custom-section-wrapper">
                <div class="custom-section-name">Курсы</div>
                <ul class="section-list">
                  <ng-container *ngFor="let course of courses">
                    <li>
                      <div class="theme-name"><a [routerLink]="['/course', course.id]">{{ course.name }}</a></div>
                      <div class="actions">
                        <button class="btn" [routerLink]="['/course', course.id]">Перейти</button>
                        <button class="btn" (click)="removeUserCourse(course.id)">Удалить</button>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
          </ng-container>
          <ng-template #noCourses>
            <div class="custom-section-wrapper">
              <div class="custom-section-name">Нет начатых курсов</div>
            </div>
          </ng-template>
      </div>

      <div id="statistics" class="tab-content" style="display: none;">
        <ng-container *ngIf="results; else noResults">
          <div class="custom-section-wrapper">
            <div class="custom-section-name">Результаты тестов</div>
            <ul class="section-list">
              <li>
                <div class="theme-name">Средний процент правильных решений: {{ averageAccuracy | number: '1.0-2' }}%</div>
              </li>
              <ng-container *ngFor="let result of results; let i = index">
                <li>
                  <div class="theme-name"><a [routerLink]="['/result', result.id]">{{ testNameOfResults[i]}}</a></div>
                  <div class="theme-name">{{ calculateAccuracyPercentage(result) | number: '1.0-2' }}%</div>
                  <div class="theme-name">{{ result.creationDate | slice:0:10 }}</div>
                  <button class="btn" [routerLink]="['/result', result.id]">Перейти</button>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
        <ng-template #noResults>
          <div class="custom-section-wrapper">
            <div class="custom-section-name">Нет пройденных тестов</div>
          </div>
        </ng-template>
      </div>

      <div id="security" class="tab-content" style="display: none;">
        <div class="custom-section-wrapper">
          <div class="custom-section-name">Настройки аккаунта</div>
          <div class="row">
            <div class="col">
              <form [formGroup]="changeProfileImgForm" (ngSubmit)="onChangeProfileImgForm()" class="custom-form">
                <div class="form-group">
                  <div class="custom-input">
                    <input type="text" class="form-control" formControlName="imgPath" placeholder="Ссылка">
                  </div>
                  <app-validator-message [field]="changeProfileImgForm.get('imgPath')"></app-validator-message>
                </div>
                <button type="submit" class="btn primary">Изменить фото</button>
              </form>
            </div>
            <div class="col">
              <form [formGroup]="changeLoginForm" (ngSubmit)="onChangeLogin()" class="custom-form">
                <div class="form-group">
                  <div class="custom-input">
                    <input type="text" class="form-control" formControlName="userName" placeholder="Имя пользователя">
                  </div>
                  <app-validator-message [field]="changeLoginForm.get('userName')"></app-validator-message>
                </div>
                <button type="submit" class="btn primary">Изменить имя</button>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordForm()" class="custom-form">
                <div class="form-group">
                  <div class="custom-input">
                    <input type="text" class="form-control" formControlName="oldPassword" placeholder="Старый пароль">
                    <app-validator-message [field]="changePasswordForm.get('oldPassword')"></app-validator-message>
                  </div>
                  <div formGroupName="passwords">
                    <div class="custom-input">
                      <input type="text" class="form-control" formControlName="password" placeholder="Новый пароль">
                    </div>
                    <app-validator-message [field]="changePasswordForm.get('passwords.password')"></app-validator-message>
                    <div class="custom-input">
                    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Повторите новый пароль">
                    </div>
                    <app-validator-message [field]="changePasswordForm.get('passwords')"></app-validator-message>
                  </div>
                </div>
                <button type="submit" class="btn primary">Изменить пароль</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div id="settings" class="tab-content" style="display: none;">
        <div class="custom-section-wrapper">
          <div class="custom-section-name">Настройки сайта</div>
          <div class="actions">
            <p>Текущий размер шрифта: {{currentFontSize}}px</p>
            <button class="btn" (click)="increaseFontSize()">Увеличить</button>
            <button class="btn" (click)="decreaseFontSize()">Уменьшить</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>