<app-navbar></app-navbar>
<main class="content-wrapper">
  <section class="content-container">
    <div class="image">
      <img src="https://i.ibb.co/gtYCYL9/image.png" alt="image"/>
    </div>
    <div class="content-block">
      <div class="slogan">
        Будущее безопасности начинается<br/>
        сегодня - курсы по кибербезопасности<br/>
        для успешного завтра.<br/>
      </div>
      <button class="btn primary" routerLink="/register">
        <span>НАЧАТЬ</span>
      </button>
      <button class="btn" routerLink="/login">
        <span>У меня уже есть аккаунт!</span>
      </button>
    </div>
  </section>
  
  <section class="content-container">
    <div class="content-block">
      <div class="title">Безопасность прежде всего!</div>
      <p>У нас вы можете пройти курсы по 4 направлениям!</p>
      <p>Финансовые нарушения, защита персональных данных, защита личных цифровых ресурсов,
        правила работы в сети интернет</p>
    </div>
    <div class="image">
      <img src="https://i.ibb.co/hcR5pVB/image.png" alt="image"/>
    </div>
  </section>

  <section class="content-container">
    <div class="image">
      <img src="https://i.ibb.co/cwfsXvM/image.png" alt="image"/>
    </div>
    <div class="content-block">
      <div class="title">Не дай себя взломать</div>
      <p>Безопасность в интернете доступна каждому.</p>
      <p>Учись защищать своой цифровой след с нашими увлекательными и понятными курсами. </p>
    </div>
  </section>

  <section class="content-container">
    <div class="content-block">
      <div class="title">Стимул к учебе</div>
      <p>Игровой подход с интерактивными заданиями и напоминания от нашего талисмана - 
        енотаДжерри помогут превратить обучение в привычку</p>
    </div>
    <div class="image">
      <img src="https://i.ibb.co/88PzkPg/image.png" alt="image"/>
    </div>
  </section>

  <section class="content-container">
    <div class="image">
      <img src="https://i.ibb.co/CbT3qVS/image.png" alt="image"/>
    </div>
    <div class="content-block">
      <div class="title">Система поощрений</div>
      <p>Твой путь к безопасности в интернете становится ещё более выгодным и мотивирующим.</p>
      <p>Получай цифровые бонусы за учебу с отличием</p>
    </div>
  </section>

  <section class="content-container">
    <div class="content-block">
      <div class="slogan">
        Начни увлекательное путешествие в мир кибербезопасности
      </div>
      <button class="btn primary" routerLink="/register">
        <span>НАЧАТЬ</span>
      </button>
    </div>
    <div class="image">
      <img src="https://i.ibb.co/DtZtgrj/image.png" alt="image"/>
    </div>
  </section>
</main>
